.lineup {
  display: flex;
  font-family: "Helvetica Neue", Verdana, helvetica, Arial, Sans;
}

.page {
  font-size: 15px;
  width: 275px;
  margin: 8px;
  padding: 20px;
  border: black 1px dotted;
}

a {
  text-decoration: none;
}

iframe {
  width: 100%;
}

.missing {
  background: #eee;
  padding: 0.8em
}

.caption {
  color: gray;
  text-align: center;
  text-size: small;
}

.surround {
  background: #eee;
  padding: 0.8em;
}

.surround img {
  width: 100%;
  margin-bottom: 10px;
}

.item.pagefold {
  border-top: 2px solid lightgray;
  clear: both;
  height: 10px;
  margin-top: 24px;
  position: relative;
  text-align: center;
}

.item.pagefold span {
  background: white;
  color: gray;
  display: inline-block;
  padding: 0px .5em;
  position: relative;
  top: -.8em;
}
.ready {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
  background-color: white;
}

/* Portrait and Landscape - iPhone 6 */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .lineup {
    display: block;
    position: relative;
  }

  .page {
    position: absolute;
    margin: 0px;
    width: 85%;
    background: white;
  }

  body {
    background: green;
    margin: 0px;
  }
}
